body {
	background-color: #777;
	width: 960px;
    font-family: sans-serif;
    font-size: 18px;
}
content {
	color: #ebebeb;
}
.header {
	border: none;
	text-align: center;
    background-color: #ebebeb;
    height: 70px;
    color: #777;

}
.nav {
	border: 1px none;
	text-align: center;
    background-color: #ebebeb;
    height: 70px;
    color: #777;
}
.container {
    margin: auto;
    width: 960px;
}
.section {
	width: 495px;
	height: 300px;
    border: 1px solid white;
    padding: 25px;
    /*margin: 25px;*/
	text-align: center;
    background-color: #ebebeb;
    float: left;
    color: #777;
}
.article {
	border: 1px none;
	text-align: center;
    background-color: #777;
    padding: 20px;
    color: #ebebeb;
}
.p {
    border: 1px solid white;
    text-align: center;
    background-color: #ebebeb;
    color: #777;
}
.p2 {
    border: 1px solid white;
    text-align: center;
    background-color: #ebebeb;
    height: 60px;
    color: #777;
}
.aside {
	width: 400px;
	height: 350px;
    border: 1px solid white;
    /*padding: 25px;*/
    /*margin-left: 575px;*/
	text-align: center;
    float: right;
    background-color: #ebebeb;
    color: #777;
}
.footer {
	border: 1px solid white;
	text-align: center;
    background-color: #ebebeb;
    height: 70px;
    width: 960px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: #777;
}
/*.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}*/